<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'header')}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/employees.css" />
    <title>Monthly Tool</title>
</head>

<header></header>

<script>
  document.getElementById('startDate').value = new Date().toISOString().slice(0, 10);
  document.getElementById('endDate').value = new Date().toISOString().slice(0, 10);
</script>

<body>
  <div class="data-table">
    <form action="#" method="post" th:action="@{monthly}" th:object="${date}" class="formtemplate">
      <h1>Monthly</h1>
          <label for="startDate">Start Date</label>
          <input type="date" th:value="${startDate}" name="startDate" id="startDate" required />
          <label for="endDate">End Date</label>
          <input type="date" th:value="${endDate}" name="endDate" id="endDate" required />
          <span>
            <input type="submit" value="Submit" />
          </span>
    </form>
    <h2>Monthly Report</h2>
    <table id="myTable">
        <thead>
        <tr><th>Client</th></tr>
        </thead>
        <tbody>
          <tr th:each="client : ${clientList}">
            <td th:text="${client}"></td>
            <td>
            <table id="myTable">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Work Date</th>
                    <th>Work Hours</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="record : ${client}">
                    <td th:text="${record.employeeName}"></td>
                    <td th:text="${record.workDate}"></td>
                    <td th:text="${record.workHours}"></td>
                  </tr>
                </tbody>
            </table>
            </td>
          </tr>
        </tbody>
    </table>
  </div>

</body>

</html>
