<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'header')}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/employees.css" />
    <title>Monthly Tool</title>
</head>

<header></header>

<script>

</script>

<body>
  <div class="data-table">
    <form action="#" method="post" th:action="@{monthly}" th:object="${date}" class="formtemplate">
      <h1>Monthly</h1>
          <label for="startDate">Start Date</label>
          <input type="date" th:value="${startDate}" name="startDate" id="startDate" onchange="cal()" required />
          <label for="endDate">End Date</label>
          <input type="date" th:value="${endDate}" name="endDate" id="endDate" onchange="cal()" required />
          <span>
          <table id="myTable"><tbody>
            <tr th:each="dates : ${date}">
            <td th:text="${dates.startDate}"></td>
            <td th:text="${dates.endDate}"></td>
          	</tr>
          	</tbody></table>
            <input type="submit" value="Submit" />
          </span>
    </form>
    <h2>Monthly Report</h2>
    <table id="myTable">
        <tbody th:each="monthlylist : ${allList}">
          <tr>
            <td th:text="${monthlylist.clientName}"></td>
            <td th:text="${monthlylist.totalHours}"></td>
            <td>
              <table>
                  <tbody>
                    <tr th:each="record : ${monthlylist.records}">
                      <td th:text="${record.employeeName}">employeeName</td>
                      <td th:text="${record.workDate}">workDate</td>
                      <td th:text="${#numbers.formatDecimal(record.workHours, 0, 'COMMA', 2, 'POINT')}" align='right'></td>
                      <td th:text="${record.workType}">workType</td>
                    </tr>
                  </tbody>
              </table>
            </td>
            <td>
              <table>
                  <tbody>
                    <tr th:each="total : ${monthlylist.totals}">
                      <td th:text="${total.employeeName}">employeeName</td>
                      <td th:text="${#numbers.formatDecimal(total.workHours, 0, 'COMMA', 2, 'POINT')}" align='right'></td>
                      <td th:text="${total.workType}">workType</td>
                    </tr>
                  </tbody>
              </table>
            </td>
          </tr>
        </tbody>
    </table>
  </div>

</body>

</html>
