<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'header')}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/employees.css" />
    <title>Monthly Tool</title>
</head>

<header></header>

<body>
  <div class="data-table">
    <form action="#" method="post" th:action="@{monthyl}" th:object="${date}" class="formtemplate">
      <h1>Monthly</h1>
          <label for="startDate">Start Date</label>
          <input type="date" th:value="${startDate}" name="startDate" id="startDate" required />
          <label for="endDate">End Date</label>
          <input type="date" th:value="${endDate}" name="endDate" id="endDate" required />
          <span>
            <input type="submit" value="Submit" />
          </span>
    </form>
    <h2>Monthly Report</h2>
    <table id="myTable">
        <thead>
          <tr>
            <th>Name</th>
            <th>Work Hours</th>
            <th>Work Type</th>
            <th></th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="record : ${biweekly}">
            <td th:text="${record.employeeName}"></td>
            <td th:text="${record.workHours}"></td>
            <td th:text="${record.workType}"></td>

            <!--<td>
              <button><a th:href="@{/employees/edit?rid={name}(name = ${employee.getName()})}">Edit</a></button>
            </td>
            <td>
              <button><a th:href="@{/admin/deleteRecord?e_id={id}(id=${record.recordID})}"><i class="bi bi-trash"></i>Delete</a></button>
            </td>-->
          </tr>

        </tbody>
    </table>
  </div>
  <script>
    document.getElementById('startDate').value = new Date().toDateInputValue();
    document.getElementById('endDate').value = new Date().toDateInputValue();
  </script>

</body>

</html>
