<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'header')}">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/employees.css" />
    <title>All Records</title>
</head>

<script>
/*
function myFunction() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");

  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}*/
</script>

<body>
    <div class="data-table">
    <h1>Records By Date</h1>
      <table id="myTable2">
          <thead>
            <tr>
              <th>Name</th>
              <th>Client</th>
              <th>Work Hours</th>
              <th>Work Type</th>
              <th>Work Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="record : ${records}">
              <td th:text="${record.employeeName}"></td>
              <td th:text="${record.clientName}"></td>
              <td th:text="${#numbers.formatDecimal(record.workHours, 0, 'COMMA', 2, 'POINT')}"
    			th:style="${record.workHours le 1} ? 'background: #B6D5F3' : (${record.workHours le 1.5} ? 'background: #B6F3DF;' : (${record.workHours le 2} ? 'background: #D1F3B6;' : (${record.workHours le 3} ? 'background: #DDF3B6;' : 'background: #E5F3B6;')))"
    			align='right'></td>
              <td th:text="${record.workType}"></td>
              <td th:text="${record.workDate}"></td>

              <!--<td>
                <button><a th:href="@{/employees/edit?rid={name}(name = ${employee.getName()})}">Edit</a></button>
              </td>
              <td>
                <button><a th:href="@{/admin/deleteRecord?e_id={id}(id=${record.recordID})}"><i class="bi bi-trash"></i>Delete</a></button>
              </td>-->
            </tr>

          </tbody>
      </table>
    </div>
    <div class="data-table">
    <h1>By Employee</h1>
    <!-- <div class="search-form">
            <input 
		  type="text" 
		  id="myInput" 
		  onkeyup="myFunction()" 
		  placeholder="Filter by name..." 
		  title="Filter">
        </div> -->
      <table id="myTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Client</th>
              <th>Work Hours</th>
              <th>Work Type</th>
              <th>Work Date</th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="record : ${records2}">
              <td th:text="${record.employeeName}"></td>
              <td th:text="${record.clientName}"></td>
              <td th:text="${#numbers.formatDecimal(record.workHours, 0, 'COMMA', 2, 'POINT')}"
    			th:style="${record.workHours le 1} ? 'background: #B6D5F3' : (${record.workHours le 1.5} ? 'background: #B6F3DF;' : (${record.workHours le 2} ? 'background: #D1F3B6;' : (${record.workHours le 3} ? 'background: #DDF3B6;' : 'background: #E5F3B6;')))"
    			align='right'></td>
    		  <td th:text="${record.workType}"></td>
              <td th:text="${record.workDate}"></td>
            </tr>

          </tbody>
      </table>
    </div>

</body>

</html>
