<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>User Records</title>
</head>

<header></header>

<script>
var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];

function convertDate(date_str) {
  temp_date = date_str.split("-");
  return temp_date[2] + " " + months[Number(temp_date[1]) - 1] + " " + temp_date[0];
}
</script>

<body>
	<div class="screen">
    <form action="#" method="get" th:action="@{home}" th:object="${date}" class="formtemplate">
      <h2>Hours Calculator</h2>
          <label for="startDate">Start Date</label>
          <input type="date" th:value="${startDate}" name="startDate" id="startDate" required />
          <br>
          <label for="endDate">End Date </label>
          <input type="date" th:value="${endDate}" name="endDate" id="endDate" required />
          <br>
          <span>
           <table id="myTable"><tbody>
           	<tr>Currently set to: </tr>
           	<br>
            <tr id="date1" th:text="${date.getStartDate()}"></tr>
            <br>
            <tr id="date1" th:text="${date.getEndDate()}"></tr><br>
            <input type="submit" value="Calculate" />
          	</tbody></table>
          </span>
    </form>
    <h3>Total Hours</h3>
    <table id="myTable">
        <thead>
          <tr>
            <th>Client</th>
            <th>Type</th>
            <th>Hours</th>
          </tr>
        </thead>

        <tbody>
          <tr th:each="record2 : ${totals}">
            <td th:text="${record2.clientName}"></td>
            <td th:text="${record2.workType}"></td>
            <td th:text="${#numbers.formatDecimal(record2.workHours, 0, 'COMMA', 2, 'POINT')}" align='right'></td>
          </tr>
        </tbody>
    </table>
</div>


    <div class="screen">
      <h1>Records</h1>
      <span class="add-employee">
          <button class="add"><a th:href="@{/user/addRecord}"><i class="bi bi-person-plus"></i>Add New Record</a></button>
      </span>
      <span class="add-employee">
          <button class="add"><a th:href="@{/logout}"><i class="bi bi-person-plus"></i>Logout</a></button>
      </span>
      <span class="add-employee">
          <button class="add"><a th:href="@{/user/password}"><i class="bi bi-person-plus"></i>Change Password</a></button>
      </span>
      <table id="myTable">
          <thead>
            <tr>
              <!--<th>Name</th>-->
              <th>Client</th>
              <th>Type</th>
              <th>Hours</th>
              <th>Date</th>
              <th>Notes</th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="record : ${records}">
              <!--<td th:text="${record.employeeName}"></td>-->
              <td th:text="${record.clientName}"></td>
              <td th:text="${record.workType}"></td>
              <td th:text="${#numbers.formatDecimal(record.workHours, 0, 'COMMA', 2, 'POINT')}" align='right'></td>
              <td th:text="${record.workDate}"></td>
              <td th:text="${record.notes}"></td>

              <!--<td>
                <button><a th:href="@{/employees/edit?rid={name}(name = ${employee.getName()})}">Edit</a></button>
              </td>-->
              <td>
                <button><a onclick="return confirm('Are you sure you want to delete this record?');" th:href="@{/user/deleteRecord?e_id={id}(id=${record.recordID})}"><i class="bi bi-trash"></i>  Delete</a></button>
              </td>
            </tr>

          </tbody>
      </table>
    </div>
</body>

</html>
