<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Past Records</title>
</head>

<header></header>

<body>
    <div class="data-table">
      <span class="add-employee">
          <button class="add"><a th:href="@{/user/addRecord}"><i class="bi bi-person-plus"></i>Add New Record</a></button>
      </span>
      <table id="myTable">
          <thead>
            <tr>
              <th>Name</th>
              <th>Client</th>
              <th>Work Hours</th>
              <th>Work Type</th>
              <th>Work Date</th>
              <th></th>
              <th></th>
            </tr>
          </thead>

          <tbody>
            <tr th:each="record : ${records}">
              <td th:text="${record.employeeName}"></td>
              <td th:text="${record.clientName}"></td>
              <td th:text="${record.workHours}"></td>
              <td th:text="${record.workType}"></td>
              <td th:text="${record.workDate}"></td>

              <!--<td>
                <button><a th:href="@{/employees/edit?rid={name}(name = ${employee.getName()})}">Edit</a></button>
              </td>-->
              <td>
                <button><a th:href="@{/user/deleteRecord?e_id={id}(id=${record.recordID})}"><i class="bi bi-trash"></i>Delete</a></button>
              </td>
            </tr>

          </tbody>
      </table>
    </div>

</body>

</html>
