<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <title>Change Password</title>
</head>

<header></header>

<body>
  <section class="data-table">

    <form action="#" method="post" th:action="@{password}" th:object="${employee}" class="formtemplate">
      <h1>Change Password</h1>
      <text>Type in your old password, and your new one.</text>
      <text>If you have forgotten your old password, ask the admin to reset your password.</text>
      <li>
        <label for="employeeName">Old Password  </label>
        <input type="text" th:field="*{employeeName}" id="employeeName" required />
        </select>
      </li>
      <li>
        <label for="password">New Password </label>
        <input type="text" th:field="*{password}" id="password" required />
      </li>
        <span>
          <button class="cancel"><a th:href="@{/user/home}">Cancel</a></button>
          <input type="submit" value="Save" />
        </span>
      </li>
    </form>
  </section>

    <script>
    </script>

</body>


</html>
